img{

    min-height: 550px;
    max-height: 600px;
    max-width: 400px;
} 

button{
    width: 85px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 40px;
    height: 25px;
}


.botones{
    margin-right: 15px;
  }

  .custom-file-input {
    display: none; 
  }
  
  .custom-file-label {
    padding: 10px 20px; 
    border-radius: 5px; 
    width: 85px;
    color: white;
    background-color: tomato;
    border: none;
    height: 25px;
  }
 
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto centra el contenido verticalmente */
  }

  .containersec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px; /* Espaciado entre el formulario y la imagen */
  }
  
  .botones {
    margin-right: 10px; /* Espaciado entre los botones */
  }
  

  .grid-container {
    display: flex;
    justify-content: space-between;
  }
  
  .rectangle {
    width: 100px;
    height: 20px;
    background-color: blue;
    margin-right: 10px; /* Espacio entre rectángulos */
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .light-green {
    background-color: lightgreen;
  }
  
  .dark-green {
    background-color: rgb(2, 179, 2);
  }
  