img{
    max-height: 600px;
    max-width: 400px;
} 

button{
    width: 110px;
}

.custom-class {
    background-color: red; /* Cambia el color del fondo */
    color: white; /* Cambia el color del texto */
  }
  